@{
    ViewData["Title"] = "Histórico";
}

@model List<string>

<div class="text-center">
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    </head>
    <body>


    <div style="margin-top:-160px;">

        <h1 class="display-4" style="display: inline;"> <a>Conversion</a></h1>

            &nbsp;&nbsp;&nbsp;<h2 style="display: inline;"> <a class="adicional">Divisas</a> </h2>
            &nbsp;&nbsp;&nbsp;<h2 style="display: inline;"> <a class="adicional" asp-action="IrAConversor">Conversor</a> </h2>
    </div>

    <div class="text-center" style="height:100%; padding:5px; margin-top:20px; ">
    <h1>Histórico de resultados</h1>

    <ul>
        @foreach (var elemento in Model)
        {
            <li color: black>@elemento</li>
        }
    </ul>
    </div>

</body>
</html>
</div>
